@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: #191919;
    font-weight: 500;
}
.search-main {
    height: 100vh;
    width: 100vw;
    background-image: url('images/city_background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.button-group {
    display: block ;
    max-width: 390px;
    background: rgba(255, 255, 255, .8);
    border-radius: 6px;
    margin: auto;
    margin-top: 1%;
    padding: 15px;
    text-align: left;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .25)), url('images/background-blur.png') no-repeat fixed;
} 
.choose_search .tag:hover {
    background: black;
    color: yellow;
    cursor: pointer;
}
.choose_search {

    padding-top: 100px;
}
#logo-main {
    width: 400px;
    display: block;
    margin: auto;
    padding: 40px 0 20px 0;
}
.logo-main {
    display: block !important;
}
#input {
    padding: .2% 2%;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
#input-similar {
    padding: .2% 2%;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.form-group input:focus {
    outline: none !important;
}
.form-group input:active {
    outline: none !important;
}
.form-control {
    height: 55px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(rgba(255, 255, 255, .45), rgba(255, 255, 255, .45)), url('images/background-blur.png') no-repeat fixed;
    display: inline-block;
    transition: all ease-in-out .2s;
}
.form-control:focus, .form-control:active {
    outline: none !important;
    transition: all ease-in-out .2s;
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url('images/background-blur.png') no-repeat fixed;
}
.btn-next:hover {
    cursor: pointer;
}
#helper {
    text-transform: none;
    letter-spacing: 0;
    text-align: center;
    font-style: italic;
    opacity: .8;
}
.btn-add {
    height: 57px;
    /* width: 50px; */
    background: white;
    border-radius: 50% 0% 0% 50%;
    color: black;
    border: 0;
    margin-left: -20%;
    padding: 0 2%;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.btn-go {
    height: 56px;
    /* width: 50px; */
    background: black;
    border-radius: 0 100% 100% 0;
    color: yellow;
    border: 0;
    margin-left: -7%;
    padding: 0 2%;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.btn-go:focus, .btn-go:active {
    outline: none !important;
    opacity: .7;
}
.btn-go:hover {
    cursor: pointer;
}
.flex-center {
    display: flex !important   ;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.nav {
    padding: 2%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    position: sticky;
    background: rgba(255, 255, 255, .97);
    top: 0;
    z-index: 999;
}
.nav-img {
    max-width: 170px;
}
.results_expanded {
    background: #191919;
    width: 50%;
    float: right;
    height: 100vh;
    top: 80px;
    overflow-y: scroll;
    border-left: 6px solid #FFF300;
    position: fixed;
    left: 50%;
    z-index: 1;
    padding-bottom: 5%;
}
.star_rating {
    display: inline;
    float: right;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 6px;
    padding-top: 14px;
}
.checked {
    color: #FFF300;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.star_rating .checked {
    color: #FFF300;
    text-shadow: 0 0 4px black;
}
.results_overview {
    width: 50%;
    float: left;
    overflow-y: scroll;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    overflow: scroll;
    padding: 2%;
    padding-bottom: 10%;
}
.rating {
    display: inline-block;
    position: absolute;
    bottom: 8%;
}
#new_search {
    float: right;
    padding: 7px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
}
#new_search:hover {
    background:  #FFF300;
    cursor: pointer;
}
.amenities_items {
    color: #fff !important;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 0;
    font-size: 13px;
}
#error-message {
    height: 0 ;
    padding: 0;
    opacity: 0;
    font-size: 13px;
    font-style: italic;
    background: rgba(255, 243, 0, .75);
    transition: all ease-in-out .2s;
}
.show-error {
    height: auto !important;
    padding: 15px !important;
    opacity: 1 !important; 
    transition: all ease-in-out .2s;
}
#by_title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}
#close_icon img{
    max-width: 25px;
}
#info-bottom {
    margin-top: 85%;
}
#close_icon {
    margin-top: 10%;
}
#close_icon:hover {
    cursor: pointer;
}
.info-expanded {
    background: #FFF300;
    height: 100vh;
    width: 20vw;
    position: absolute;
    transition: all ease-in-out .5s;
    padding: 60px 30px;
    left: -50%;
    top: 0;
    /* opacity: 0; */
}
.info-expanded p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.info {
    position: absolute;
    bottom: 6%;
    left: 0%;
    background: #FFF300;
    padding: 10px ;
    text-transform: uppercase;
    transition: all ease-in-out .25s;

}
.info:hover img{
    padding-left: 70px;
    transition: all ease-in-out .25s;
    cursor: pointer;
}
.info img {
    padding-left: 20px;
    max-width: 40px;
    transition: all ease-in-out .25s;
    width: 20px !important;
}
.tag {
    background: #FFF300;
    padding: 8px 16px;
    border-radius: 50px;
    margin: 5px 3px;
    font-size: 14px;
    color: black;
    font-weight: 400;
    text-shadow: none;
    display: inline-block;
    text-transform: capitalize;
}
.checkbox {
    opacity: 0;
    width: 0;
}
input[type=checkbox]:checked + label {
    background:  #FFF300;
  } 
hr {
    width: 100%;
    border: .5px solid rgba(0, 0, 0, .5);
    margin-bottom: 10px !important;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex {
    display: flex;
}
#edit:hover {
    opacity: .5;
    cursor: pointer;
}
#selected_areas_text {
    font-size: 14px;
    opacity: .55;
    font-weight: 500;
    padding-left: 10px;
}
label {
    background: rgba(255, 255, 255, .75);
    text-transform: capitalize !important;
    padding: 8px 16px;
    border-radius: 50px;
    color: black;
    margin: 6px 0;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
}
label:hover {
    background:  #FFF300;
    cursor: pointer;
}
.reviews_items p{
    color: white !important;
    font-weight: 400;
}
.tag-inactive {
    background: rgba(255, 255, 255, .75);
    padding: 8px 16px;
    border-radius: 50px;
    color: black;
    margin: 5px 3px;
    text-transform: none;
    letter-spacing: 0;
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
}
.button-group .tag-inactive:hover {
    background: #FFF300;
    cursor: pointer;
}
.tag-active {
    background: #FFF300;
}
.button-group p {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    padding-bottom: 5px;
    margin-top: 0;
}
.panels_container {
    padding-top: 5%;
}
.preview_panel {
    border-radius: 4px;
    border: 1px solid rgb(235, 235, 235);
    height: 225px;
    margin: 2% 0;
    
}
.preview_panel:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    cursor: pointer;
}

.prev_img {
    width: 45%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px 0 0 3px;
}
.prev_info {
    display: inline-block;
    vertical-align: top;
    padding: 5%;
    width: 54%;
    height: 100%;
    position: relative;
}

.type {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .8px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    opacity: .75;
    padding: 0;
    margin: 0;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #191919;
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

.key_features {
    padding: 0;
    margin: 0;
    margin-top: 8%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    opacity: .6;
}

.key_features li {
    display: inline;
    
}

.preview_panel_loc {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 12px;
    font-weight: 500;
}
.expanded_header {
    height: 325px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.expanded_title {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    padding: 1% 4%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
}
.expanded_desc {
    padding: 4%;
}
.expanded_desc_section {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding-bottom: 3%;
    border-bottom: 1px solid #fff;
    margin-bottom: 3%;
}
.reviews_section{
    font-weight: 300;
}
.amenities_title {
    margin-bottom: 3%;
}
.reviews_title {
    margin-bottom: 3%;
}
.reviews_items {
    text-transform: none;
    letter-spacing: 0;
}
.ui-widget-content {
    background: rgba(255, 255, 255, .75) !important;
    border: none !important;
    border-radius: 10px;
}
.ui-menu .ui-menu-item{
    padding: 2%;
    font-family: 'Montserrat', sans-serif !important;
}
.ui-menu .ui-menu-item:hover {
    border-radius: 10px;
}
.ui-menu .ui-menu-item:hover .ui-menu-item-wrapper {
    background: white !important;
    color: black !important;
    border: 1px solid white !important;
}
.ui-menu-item-wrapper:hover {
    background: white !important;
    color: black !important;
    border: none !important;
}
.ui-menu .ui-menu-item:hover {
    background: white !important;
}
.review_text {
    width: 85%;
    display: inline-block;
    float: left;
}
.review_rating {
    width: 15%;
    display: inline-block;
    float: right;
    text-align: right;
}
.review_rating .checked {
    margin: 0 2%;
}
.flex-end {
    display: flex;
    justify-content: space-between;
}

.slick-list {
    height: 25% !important;
}
.slick-dots li button:before {
    color: white !important;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
/* display:inline-block; */
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}

path {
    stroke: rgba(0, 0, 0, .95);
    stroke-width: .5;
  }
  #neighborhoodPopover { 
    position: absolute;     
    text-align: center;         
    padding: 4px 6px;       
    font: 12px sans-serif;    
    background: white; 
    color: black;
    border: 0px;    
    border-radius: 10px;     
    pointer-events: none;
    opacity: 0;     
    z-index: 999;
    font-family: 'Montserrat', sans-serif;
  }
  .active {
    fill: yellow !important;
  }