@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: #191919;
    font-weight: 500;
}
.search-main {
    height: 100vh;
    width: 100vw;
    background-image: url('images/city_background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.button-group {
    display: block ;
    max-width: 390px;
    background: rgba(255, 255, 255, .8);
    border-radius: 6px;
    margin: auto;
    margin-top: 1%;
    padding: 15px;
    text-align: left;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .25)), url('images/background-blur.png') no-repeat fixed;
    /* background:  url('images/background-blur.png') no-repeat fixed; */
    /* background-size:  no-repeat  ;
    background-position: fixed; */
} 

#logo-main {
    width: 400px;
    display: block;
    margin: auto;
    padding: 30px 0 20px 0;
}
.logo-main {
    display: block !important;
}
/* .form-group {
    display: block !important;
} */
#input {
    padding: .2% 2%;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.form-group input:focus {
    outline: none !important;
}
.form-group input:active {
    outline: none !important;
}
.form-control {
    height: 55px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(rgba(255, 255, 255, .45), rgba(255, 255, 255, .45)), url('images/background-blur.png') no-repeat fixed;
    display: inline-block;
}
.form-control:focus, .form-control:active {
    outline: none !important;

    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}
.btn-next:hover {
    cursor: pointer;
}
#helper {
    text-transform: none;
    letter-spacing: 0;
    text-align: center;
    font-style: italic;
    opacity: .8;
}
.btn-go {
    height: 55px;
    width: 55px;
    background: black;
    border-radius: 0 50% 50% 0;
    color: yellow;
    border: 0;
    margin-left: -8%;
    padding-right: 2%;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.btn-go:focus, .btn-go:active {
    outline: none !important;
    opacity: .7;
}
.btn-go:hover {
    cursor: pointer;
}
.flex-center {
    display: flex !important   ;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.nav {
    padding: 2%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    position: sticky;
    background: rgba(255, 255, 255, .97);
    top: 0;
    z-index: 999;
}
.nav-img {
    max-width: 170px;
}
.results_expanded {
    background: #191919;
    width: 50%;
    float: right;
    height: 100vh;
    top: 80px;
    overflow-y: scroll;
    border-left: 6px solid #FFF300;
    position: fixed;
    left: 50%;
    z-index: 1;
    padding-bottom: 5%;
}
.star_rating {
    display: inline;
    float: right;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 6px;
    padding-top: 14px;
}
.checked {
    color: #FFF300;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.star_rating .checked {
    color: #FFF300;
    text-shadow: 0 0 4px black;
}
.results_overview {
    width: 50%;
    float: left;
    overflow-y: scroll;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    overflow: scroll;
    padding: 2%;
    padding-bottom: 10%;
}
.rating {
    display: inline-block;
    position: absolute;
    bottom: 8%;
}
.tag {
    background: #FFF300;
    padding: 8px 16px;
    border-radius: 50px;
    margin: 0 3px;
    font-size: 13px;
    color: black;
    font-weight: 500;
    text-shadow: none;
    text-transform: capitalize;
}
.checkbox {
    opacity: 0;
    width: 0;
}
input[type=checkbox]:checked + label {
    background:  #FFF300;
  } 
hr {
    width: 100%;
    border: .5px solid rgba(0, 0, 0, .5);
    margin-bottom: 10px !important;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex {
    display: flex;
}
#edit:hover {
    opacity: .5;
    cursor: pointer;
}
#selected_areas_text {
    font-size: 14px;
    opacity: .55;
    font-weight: 500;
    padding-left: 10px;
}
label {
    background: rgba(255, 255, 255, .75);
    text-transform: capitalize !important;
    padding: 8px 16px;
    border-radius: 50px;
    color: black;
    margin: 6px 0;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
}
label:hover {
    background:  #FFF300;
    cursor: pointer;
}
.tag-inactive {
    background: rgba(255, 255, 255, .75);
    padding: 8px 16px;
    border-radius: 50px;
    color: black;
    margin: 5px 3px;
    text-transform: none;
    letter-spacing: 0;
    display: inline-block;
    font-size: 14px;
}
.button-group .tag-inactive:hover {
    background: #FFF300;
    cursor: pointer;
}
.tag-active {
    background: #FFF300;
}
.button-group p {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    padding-bottom: 5px;
    margin-top: 0;
}
.panels_container {
    padding-top: 5%;
}
.preview_panel {
    border-radius: 4px;
    border: 1px solid rgb(235, 235, 235);
    height: 225px;
    margin: 2% 0;
    
}
.preview_panel:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    cursor: pointer;
}

.prev_img {
    width: 45%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px 0 0 3px;
}
.prev_info {
    display: inline-block;
    vertical-align: top;
    padding: 5%;
    width: 54%;
    height: 100%;
    position: relative;
}

.type {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .8px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    opacity: .75;
    padding: 0;
    margin: 0;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #191919;
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

.key_features {
    padding: 0;
    margin: 0;
    margin-top: 8%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    opacity: .6;
}

.key_features li {
    display: inline;
    
}

.preview_panel_loc {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 12px;
    font-weight: 500;
}
.expanded_header {
    height: 325px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.expanded_title {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    padding: 1% 4%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
}
.expanded_desc {
    padding: 4%;
}
.expanded_desc_section {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding-bottom: 3%;
    border-bottom: 1px solid #fff;
    margin-bottom: 3%;
}
.amenities_title {
    margin-bottom: 3%;
}
.reviews_title {
    margin-bottom: 3%;
}
.reviews_items {
    text-transform: none;
    letter-spacing: 0;
}



.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
/* display:inline-block; */
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}