<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
</style>

<body>
 
  <div id='neighborhoodPopover'> </div>

  
  <div class="search-main">
    <div class="choose_search">
    <div class="logo-main"><img src="static/images/Urban_Gems.png" id="logo-main"/></div>
    <div class=" button-group" style="text-align: center;">
      <p>Choose your search method</p>
      <div onclick="chooseSearch('search')" class="tag tag-active" id="search_option">Search</div>
      <div onclick="chooseSearch('similar')" class="tag tag-active" id="similar_option">Explore Similar</div>
    </div>
    <div class="button-group" id="search_hover">
      Search for parks by neighborhood and keyword
    </div>
    <div class="button-group" id="similar_hover">
        Find parks similar to a specific park
      </div>
  </div>
    <form class="form-inline global-search search_search">
        <br><br>
        <div>
            <div class="logo-main"><img src="static/images/Urban_Gems.png" id="logo-main"/></div>
  
        <div class="form-group">
            <input id="input" type="text" name="search" class="form-control" placeholder="search destinations">
            <input type="hidden" name="boroughs" id="boroughs">
            <input type="hidden" name="keyword" id="keyword">
            <div class="btn-go btn-next" onclick="submit_loc()" id="next"><div class="flex-center"><div>NEXT</div></div></div>
            <button class="btn-go" id="go"> GO </button>
        </div>
        <div class="button-group" id="error-message">Please choose a keyword to continue</div>
        <div class="button-group" id="selected_areas">
          <p>Areas</p>
          <div class="flex-between">
            <div class="flex">
              <img src="static/images/pin.svg" />
              <div id="selected_areas_text"></div>
            </div>
            <div id="edit" onclick="toggleButtons()">
              <p>Edit</p>
            </div>
          </div>
        </div>
        <div class="button-group">
          <div id="map">
            <svg width="400" height="370" ></svg>
            <p id="helper">select neighborhoods <br />to explore</p>
          </div>
          
          <div id="features">
          <p>Features</p>
            {%for i in range(0, len_words) %}
              <span class="tag-inactive" onclick="chooseWord('{{keywords[i]}}')" id="{{keywords[i]}}">{{keywords[i]}}</span>
            {%endfor%}
          </div>
        </div>
        <div class="button-group" style="text-align: center; padding: 10px 15px;">Or <div onclick="chooseSearch('similar')" class="tag tag-active" id="toggleTag">Explore Similar</div></div>
        </div>
    </form>

    <form class="form-inline global-search search_similar">
        <br><br>
        <div>
            <div class="logo-main"><img src="static/images/Urban_Gems.png" id="logo-main"/></div>
  
        <div class="form-group">
            <input id="input-similar" type="text" name="search" class="form-control" placeholder="Search parks">
            <input type="hidden" name="boroughs" id="boroughs_sim">
            <input type="hidden" name="keyword" id="keyword_sim">
            <input type="hidden" name= "simto" id="simto">
            <button class="btn-go" id="go" style="margin-left: -9%;"> GO </button>
        </div>
        <div class="button-group" id="error-message">Please choose a keyword to continue</div>
        <div class="button-group" style="text-align: center; padding: 10px 15px;">Or <div onclick="chooseSearch('search')" class="tag tag-active" id="toggleTag">Search by Keyword</div></div>
        
        </div>
    </form>
    
    <form class="form-inline global-search">
    </form>
    <div class="info flex" onclick="toggleInfo()"><div>Info</div> <div><img src="static/images/chevron.svg"></div></div>
    <div class="info-expanded">
      <p>
        Urban Gems helps you find parks, gardens, and POPS (privately-owned public spaces) within New York based on your personal preferences. Select what areas you want to explore then tell us your ideal features to see what gems are in store for you! 
        
      </p>
      <p>
        You can search by area and keyword if you're interested in exploring a particular part of the city. Select the areas you want to visit and input your desired keywords (limited to a list of good types for relevant results). You can also search for parks similar to your favorite city spot with the 'Explore Similar' option!
      </p>
      <div id="info-bottom">
      <p>
        <span id="by_title">Created by</span><br />
        Hanna Arfine <br />
        Kyra Wisniewski <br />
        Katie Schretter <br />
        Emily Gyles <br />
      </p>
      <div id="close_icon" onclick="closeInfo()"><img src="static/images/x.svg" /></div>
    </div>
    </div>
    </div>  



<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script>
var search_type = ''
var selected = []
var selected_neighborhood = []
var isClicked = false;
var all_neighborhoods = []
var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");
// http://data.beta.nyc//dataset/0ff93d2d-90ba-457c-9f7e-39e47bf2ac5f/resource/35dd04fb-81b3-479b-a074-a27a37888ce7/download/d085e2f8d0b54d4590b1e7d1f35594c1pediacitiesnycneighborhoods.geojson
d3.json("/static/nyc.json", function(error, nyc) {
  if (error) throw error;
  var path = d3.geoPath()
      .projection(d3.geoConicConformal()
      .parallels([33, 45])
      .rotate([96, -39])
      .fitSize([width, height], nyc));
  svg.selectAll("path")
      .data(nyc.features)
      .enter().append("path")
      .attr("d", path)
      .attr("id", function(d){ 
        all_neighborhoods.push(d.properties.neighborhood) 
      return d.properties.neighborhood})
     
      .on("mouseenter", function(d) {
        d3.select(this)
        .style("stroke-width", 1.1)
        .style("stroke", "rgba(0, 0, 0, .95)")
        .style("fill", "yellow")
        d3.select("#neighborhoodPopover")
        .transition()
        .style("opacity", 1)
        .style("left", (d3.event.pageX) + "px")
        .style("top", (d3.event.pageY) + "px")
        .text(d.properties.neighborhood)
    })
    .on("mouseleave", function(d) { 
      d3.select(this)
      .style("fill", "rgba(0, 0, 0, .95)")
      .style("stroke", "rgba(0, 0, 0, .95)")
      .style("stroke-width", .25)
      d3.select("#neighborhoodPopover")
      .transition()
      .style("opacity", 0)
      d3.select("#cneighborhoodPopoverountyText")
      .transition()
      .style("opacity", 0);
    })
    .on("mousedown", function(d){
  
      var borough = d.properties.borough
      var neighborhood = d.properties.neighborhood

      
      if (selected.includes(borough) == false){
        selected.push(borough)
      }
      if (selected.includes(neighborhood) == false){
        selected.push(neighborhood)
      }
      else if (selected.includes(neighborhood) == true){
        selected = selected.filter(function(n){
            return neighborhood != n
          })
      }
  
      if(selected_neighborhood.includes(neighborhood)==false){
       d3.select(this).classed("active", true)
        selected_neighborhood.push(neighborhood)
      }
      else {
        d3.select(this).classed("active", false)
        selected_neighborhood = selected_neighborhood.filter(function(n){
            return neighborhood != n
          })
      }
    }); 
});
function chooseSearch(i){
  search_type = i;
  showOptions()
}
var showGo = false;
var features = [];
var custom_fields = [];


  $(function() { 
    
        $(':submit').click(function(e) {
          if(search_type!='similar'){
                $('#keyword').each(function() {
                        if ($(this).val().length == 0 )  {
                              $("#error-message").addClass("show-error")
                                e.preventDefault();
                        }
                });
                $('#boroughs').each(function() {
                        if ($(this).val().length == 0 ) {
                              $("#error-message").addClass("show-error")
                              $("#error-message").text("Please choose an area to continue")
                                e.preventDefault();
                        }
                });

        }
        });

});
$("#search_option").mouseover(function(){
  $("#search_hover").addClass("show");
})
$("#search_option").mouseout(function(){
  $("#search_hover").removeClass("show");
})
$("#similar_option").mouseover(function(){
  $("#similar_hover").addClass("show");
})
$("#similar_option").mouseout(function(){
  $("#similar_hover").removeClass("show");
})

function showOptions(){
  if(search_type == ''){
    $(".choose_search").css("display", "block")
    $(".search_search").css("display", "none")
    $(".search_similar").css("display", "none")
  }
  else if (search_type == 'search'){
    $(".choose_search").css("display", "none")
    $(".search_similar").css("display", "none")
    $(".search_search").css("display", 'block')
  }
  else if (search_type == 'similar'){
    showGo = true
    $("#input-similar").attr("placeholder", "Search parks")
    $(".choose_search").css("display", "none")
    $(".search_similar").css("display", "block")
    $(".search_search").css("display", "none")
    $( "#input-similar" ).autocomplete({
      source: park_names,
      select: function(event, ui) {
        $("#simto").val(ui.item.value)
        $("#keyword_sim").val('none')
        $("#boroughs_sim").val('none')
      }
     });
  }
}
function toggleButtons(){
  if(showGo == false){
    $("#go").css("visibility", "hidden");
    $("#features").css("visibility", "hidden");
    $("#features").css("display", "none");
    $("#selected_areas").css("display", "none");
    $(".form-control").attr("placeholder", "Search destinations");

    $("#next").css("visibility", "visible");
    $("#map").css("visibility", "visible");
    $("#map").css("display", "block");
    $( function() {
    $( "#input" ).autocomplete({
      source: all_neighborhoods,

      select: function(event, ui) {
        addNeighborhood(ui.item.value)
      }
     });
    });
    
  }
  else {
    total_boros = ["Queens", "Manhattan", "Staten Island", "Brooklyn", "Bronx"]
    selected_neighborhoods = []
    $("#go").css("visibility", "visible");
    $("#go").css("margin-left", "-11%");
    $(".form-control").attr("placeholder", "Search features");
    $("#features").css("visibility", "visible");
    $("#features").css("display", "block");
    $("#selected_areas").css("display", "block");
    selected.forEach(function(i){
      if(total_boros.includes(i) == false){
        selected_neighborhoods.push(i)
      }
    })
    $("#selected_areas_text").text(selected_neighborhoods.join(', '))

    $("#next").css("visibility", "hidden");
    $("#map").css("visibility", "hidden");
    $("#map").css("display", "none");
    $( function() {
    $( "#input" ).autocomplete({
      source: good_types,
      select: function(event, ui){
        addKeyword(ui.item.value)
      }
     });
    });
  }
  showGo = !showGo;
}
function chooseWord(w){
  if(features.includes(w)){
    features = features.filter(function(word){
      return word != w
    })
    $("#"+w).removeClass('tag-active')
  }
  else {
    features.push(w)
    $("#"+w).addClass('tag-active')
  }
  $("#keyword").val(features)
}
function submit_loc(){
  $("#boroughs").val(selected);
  $(".form-control").val("");
  showGo=true;
  toggleButtons();
}
function addNeighborhood(n){
  value = n.toLowerCase()
    var theSearch = d3.selectAll("path")
        .filter(function(d) { 
          return d.properties.neighborhood.toLowerCase() === value 
        }).each(function(d){
          var borough = d.properties.borough
          var neighborhood = d.properties.neighborhood
          if (selected.includes(borough) == false){
            selected.push(borough)
          }
          if (selected.includes(neighborhood) == false){
            selected.push(neighborhood)
          }

          if(selected_neighborhood.includes(neighborhood)==false){
            d3.select(this).classed("active", true)
            selected_neighborhood.push(neighborhood)
          }
          else {
            d3.select(this).classed("active", false)
            selected_neighborhood = selected_neighborhood.filter(function(n){
                return neighborhood != n
              })
          }
          console.log(selected)
        });
}

function addKeyword(w){
  value = w.toLowerCase()
  $("#features").append('<span class="tag" onclick="chooseWord('+"'"+value+"'"+')" id="'+value+'">'+value+'</span>')
  features.push(value)
  $("#keyword").val(features)
}
function addVal(){
  
  if(showGo == false){
    value = $("#input").val()
    $("#features").append('<span class="tag" onclick="chooseWord('+"'"+value+"'"+')" id="'+value+'">'+value+'</span>')
    features.push(value)
    $("#keyword").val(features)
  }
  else {
    
    value = $("#input").val().toLowerCase()
    var theSearch = d3.selectAll("path")
        .filter(function(d) { 
          return d.properties.neighborhood.toLowerCase() === value 
        }).each(function(d){
          var borough = d.properties.borough
          var neighborhood = d.properties.neighborhood

          if (selected.includes(borough) == false && selected.includes(neighborhood) == false){
            selected.push(borough)
            selected.push(neighborhood)
          }

          // if(selected_neighborhood.includes(neighborhood)==false){
          //   d3.select(this).classed("active", true)
          //   selected.push(neighborhood)
          //   selected_neighborhood.push(neighborhood)
          // }
          // else {
          //   d3.select(this).classed("active", false)
          //   selected_neighborhood = selected_neighborhood.filter(function(n){
          //       return neighborhood != n
          //     })
          //   selected = selected.filter(function(n){
          //     return neighborhood != n
          //   })
          // }
          console.log(selected)
        });
  }
  
}

function toggleInfo(){
  $(".info-expanded").css("left", "0");
}
function closeInfo(){
  $(".info-expanded").css("left", "-50%");
}

$(document).ready(function(){
  toggleButtons();
  showOptions();
})

$(document).ready(function() {
  good_types = JSON.parse('{{goodtypes | tojson }}')
  park_names = JSON.parse('{{parknames | tojson }}')
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
})
</script>
</body>