<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="search-main">
    <!-- <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
    </div> -->
    <form class="form-inline global-search">
        <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
            <!-- C
            <font color=#EA4335>S</font>
            <font color=#FBBC05>4</font>
            3
            <font color=#34A853>0</font>
            <font color=#EA4335>0</font> -->
        </h1>

        <br><br>

        <div>
        <div class="logo-main"><img src="static/images/Urban_Gems.png" id="logo-main"/></div>
        <div class="form-group">
            <input id="input" type="text" name="search" class="form-control" placeholder="Key word">
            <button type="submit" class="btn-go"> GO </button>
        </div>
        <div class="button-group">
            <p>Borough</p>
        {%for i in range(0, len_areas) %}
            <div >
                <input id={{areas[i]}} class="checkbox" type="checkbox" name="area" value={{areas[i]}}> 
                <label for={{areas[i]}}>{{ areas[i] }}</label>
            </div>
        {%endfor%}
        <hr>
        <p>Features</p>
            {%for i in range(0, len_words) %}
                <div >
                    <input id={{keywords[i]}} class="checkbox" type="checkbox" name="keyword" value={{keywords[i]}}> 
                    <label for={{keywords[i]}}>{{ keywords[i] }}</label>
                </div>
            {%endfor%}
        </div>

        <!-- <div class="button-group">
            {%for i in range(0, len_areas) %}
            <div class="tag-inactive" name="location" onclick="addLoc({{i}})">{{areas[i]}}</div>
            {%endfor%}
            
        </div> -->


        <!-- <div class="form-group">
                <input id="input" type="text" name="location" class="form-control" placeholder="Location">
        </div> -->

        
        
        </div>
    </form>
    <form class="form-inline global-search">
        {% if data %}
        <h1>{{output_message}}</h1>
        {% for d in data %}
        <br>
        <p>{{d}}</p>
        {% endfor %} {% endif %}
    </form>
    </div>  

    <script>
        function addLoc(i){
            var areas = JSON.parse('{{areas | tojson}}')
            console.log(areas[i])

        }
    </script>
</body>

</html>